<section class="auth-container">
  <div class="auth-modal">
    <div class="auth-form-container">
      <form class="auth-form" method="post" (ngSubmit)="submitForm()">
        <h1>{{ isLogin ? 'Login' : 'Register' }}</h1>

        <label for="name">Username</label>
        <input type="text" name="username" id="username" [(ngModel)]="username"/>

    
        <label for="password">Password</label>
        <input type="password" name="password" id="password" [(ngModel)]="password"/>

        <button class="submit-auth" type="submit">
          {{ isLogin ? 'Entrar' : 'Cadastrar' }}
        </button>

      </form>
      <button class="have-account-btn" (click)="switchIsLogin()">
        {{ isLogin ? 'Não tenho uma conta' : 'Já tenho uma conta' }}
      </button>
    </div>
  </div>
</section>